RewriteEngine On

# React Router
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/api/
RewriteRule ^ index.html [L]

# Кэширование
<FilesMatch "\.(webmanifest|svg|png|jpg|jpeg|gif|ico|webp|js|css)$">
    Header set Cache-Control "max-age=2592000, public"
</FilesMatch>

# Типы файлов
<Files "site.webmanifest">
    ForceType application/manifest+json
    Header set Content-Type application/manifest+json
</Files>

<Files "*.svg">
    ForceType image/svg+xml
    Header set Content-Type image/svg+xml
</Files>

# Отключение индексации
Options -Indexes

# Кодировка
AddDefaultCharset UTF-8